@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

body {
    font-family: 'Outfit', sans-serif;
    background-color: #f3f4f6;
    /* Gray-100 fallback */
}